*{
    margin: 0px;
    padding: 0px;
}
.atividades_semanal{
    width: 100%;
    height: 100%;
}

.atividades_semanal #header{
    width: 100%;
    height: 80px;
    background: #777;
}
.atividades_semanal #conteudo_veiculos{
    width: 100%;
    height: 520px;
}
.atividades_semanal #conteudo_veiculos #veiculos_selecao #semana{
    width: 100%;  margin-top:10px; height: 100px;
}
.atividades_semanal #conteudo_veiculos #veiculos_selecao #veiculos{
    width: 100%;
    margin-top:10px; 
    height: 390px;
    overflow: scroll;
}
.atividades_semanal #conteudo_veiculos #grafico_nota{
    height: 520px;
}