body{
    margin:0px;
    padding: 0px;
}
.conteudo_da_pagina {
    width: 100%;
    height: 100%;
    float:left;
}
.conteudo_da_pagina .row_funcionario{
    width: 100%;
    height: 80px;
}
.conteudo_da_pagina .eventos_relacionados{
    height: 40px;
}
.conteudo_da_pagina .eventos_relacionados #botoes{
    margin-top:10px;
}
.conteudo_da_pagina .row_funcionario .row_func #titulo_funcionario #span_func{
    margin-top:15px;
}
.conteudo_da_pagina .row_funcionario .row_func #titulo_funcionario span{
    font-size: 1.4em;
    color:white;
    margin-left: 20%;
}
.conteudo_da_pagina .row_funcionario #campo_pesquisa #form_pesquisa #pesquisaCliente{
    margin-top:15px;
    height: 35%;
    width: 90%;
}
.conteudo_da_pagina .row_conteudo{
    width: 100%;
    height: 400px;
    overflow: scroll; 
}

.jumbotron{
    padding-top: 10px;
}