*{
    margin: 0px;
    padding: 0px;
}
.row{
    width: 100%;
    height: 100%;
    background: beige;
}
.row #header{
    height: 5%;
    background: #666;
}

.row #conteudo {
    width: 100%;
    height: 90%;
}
 

.row #conteudo #slide{
    width: 100%;
    height: 590px;
    cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; 
}
.row #conteudo #tela_left{
    height: 90%;
    width: 53%;
    margin-left:1%;
    margin-top:2%;
    float: left;
}

.row #conteudo #tela_projeto{
    height: 10%;
    width: 46%;
    margin-top:2%;
    float: left;
}
.row #conteudo #tela_right{
    height: 80%;
    width: 46%;
    margin-top:2%;
    float: left;
}

.row #conteudo #slide .programacao_viagens{
    width: 100%;
    height: 90%;
}

.row #footer{
    height: 5%;
    background: #666;
}