body{margin:0px; padding: 0px;}
.row_funcionario .form_relatorio_funcionario_periodo{width: 100%; height: 110px;background: #777;}
.row_funcionario .form_relatorio_funcionario_periodo #nome_funcionario{ height: 100%;}
.row_funcionario .form_relatorio_funcionario_periodo #nome_funcionario #label_fun{color:white;font-size:1em;margin: 5% 0% 0% 5%;}
.row_funcionario .form_relatorio_funcionario_periodo #nome_funcionario .selectpicker{margin: 5% 0% 0% 5%;width: 140px; height: 28px;}
.row_funcionario .form_relatorio_funcionario_periodo #periodo_datas{
    height: 100%;
}
.row_funcionario .form_relatorio_funcionario_periodo #periodo_datas #label_dI{
    color:white;font-size:1em;margin: 3% 0% 0% 5%;
}
.row_funcionario .form_relatorio_funcionario_periodo #periodo_datas #label_dF{
    color:white;font-size:1em;margin: 3% 0% 0% 5%;
}
.row_funcionario .form_relatorio_funcionario_periodo #periodo_datas .select_dataI{
    margin: 3% 0% 0% 5%;width: 80px;height: 23px;
}
.row_funcionario .form_relatorio_funcionario_periodo #periodo_datas .select_dataF{
    margin: 3% 0% 0% 5%;width: 80px;height: 23px;
}
.row_funcionario .form_relatorio_funcionario_periodo #button_relatorio_funci{
    height: 100%;
}
.row_funcionario .form_relatorio_funcionario_periodo #button_relatorio_funci button{
    margin-top:20px;
}

.contans_funcionario_periodo{
    height: 870px;
}
.contans_funcionario_periodo .tabela_funcionario {
    width: 100%;
    height: 100%;
    float:left;
}
