*{
    margin:0px;
    padding: 0px;
}
#slide_banner{
    width: 100%;
    height: 100%;
    border:1px solid red;
}
#slide_banner #slide{
    width: 100%;
    height: 500px;
    border:1px solid black;
    cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; 
}