body{
    margin:0px;
    padding: 0px;
}
.row_relatorio_projeto{
    width: 100%;
    height: 120px;
    background: #666;
}
.row_relatorio_projeto  #primeiro_campo{
    height: 100%;
}
.row_relatorio_projeto #primeiro_campo #projeto{
     height: 40%;
     margin-top:15px;
}
.row_relatorio_projeto #primeiro_campo #projeto .label{
    font-size: 1em;
    color:white; 
}
.row_relatorio_projeto #primeiro_campo #projeto .selectpicker{
    width: 60%;
}
.row_relatorio_projeto #primeiro_campo #veiculo{
     height: 40%;
}
.row_relatorio_projeto #primeiro_campo #veiculo .label{
    font-size: 1em;
    color:white; 
}
.row_relatorio_projeto #primeiro_campo #veiculo .selectpicker{
    width: 40%;
}

.row_relatorio_projeto #segundo_campo{
    height: 100%;  
}
.row_relatorio_projeto #segundo_campo #tipoveiculo{
     margin-top:30px;
     height: 40%;
}
.row_relatorio_projeto #segundo_campo #tipoveiculo .label{
    font-size: 1em;
    color:white; 
}
.row_relatorio_projeto #segundo_campo #tipoveiculo .selectpicker{
    width:80%;
    margin-top:5px;
    margin-left:7px;
}
.row_relatorio_projeto #terceiro_campo{
    height: 100%;  
}

.row_relatorio_projeto #campo_button{
    height: 100%;
}
.row_relatorio_projeto #campo_button  .btn-default{
   margin:15% 0% 0% 10%;
   background: #01669F;
   color:white;
}

 .recebe_projetos{
    width: 100%;
    height: 580px;
    background: beige;
}

.recebe_projetos #descricao_projetos{
    height: 40px;
    width: 99%;
    background: #666;
    color:white;
}
.recebe_projetos .conteudo_dinamico{
    height: 475px;
    width: 100%;
    overflow: scroll;
}
.recebe_projetos #media_projetos{
    height: 40px;
    width: 100%;
    background: #666;
     color:white;
}
